:root
{
  --white: #ffffff;
  --gray: #f0f2f5;
  --background-green: #2D4A22;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background: var(--gray);
  font-family: "Poppins", sans-serif;
}
