@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  } /* 14px */

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .options {
    flex-direction: column;
    align-items: flex-end;
  }

  .options a {
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) {
  .search-box input {
    width: 14rem;
  }
}
