.options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.8rem;
}

.right {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right .buttons button {
  height: 37.375px;
  margin-right: 1rem;
  padding: 0 1.25rem;
  outline: 0;
}

.search-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
}

.search-box input {
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;

  width: 20rem;
}

.search-box img {
  position: absolute;
  top: -0.4rem;
  right: 0.75rem;

  transform: translateY(50%);

  width: 1.75rem;
  height: 1.75rem;
}
